[Bb]in/
[Oo]bj/

.vs/
*.user
*.userosscache
*.sln.docstates

.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

publish/
*.pfx
*.publishsettings

*.mdf
*.ldf
*.ndf
*.db
*.db-shm
*.db-wal

TestResults/
*.log

.DS_Store
Thumbs.db

node_modules/
/wwwroot/lib/

appsettings.json
appsettings.*.json

!appsettings.Example.json
